<VirtualHost *:{{ httpd_port }}>

  ServerName {{ httpd_servername }}

  DocumentRoot {{ httpd_docroot }}
  
  DirectoryIndex index.php index.html
  
  <Directory /var/www/html/default>
    AllowOverride All
  </Directory>

</VirtualHost>
